<%= form_with(model: grupo_evento, local: true) do |form| %>
  <% if grupo_evento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(grupo_evento.errors.count, "error") %> prohibited this grupo_evento from being saved:</h2>

      <ul>
      <% grupo_evento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :descricao %>
    <%= form.text_field :descricao %>
  </div>

  <div class="field">
    <%= form.label :prioridade %>
    <%= form.select("prioridade",
               options_for_select([["Muito Alta", 1],["Alta", 2], ["Normal", 3], ["Baixa", 4], ["Muito Baixa", 5]],
                                  @grupo_evento.prioridade),{include_blank: true})%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
