<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= form_with(model: grupo_evento, local: true) do |form| %>
      <% if grupo_evento.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(grupo_evento.errors.count, "error") %> prohibited this grupo_evento from being saved:</h2>

          <ul>
          <% grupo_evento.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= form.label :nome %>
        <%= form.text_field :nome, class: "form-control"%>
      </div>

      <div class="form-group">
        <%= form.label 'Descrição' %>
        <textarea id="grupo_evento_descricao" value="& :descricao" name="grupo_evento[descricao]" rows="4" cols="55" class="form-control">
        </textarea>
      </div>

      <div class="form-group">
        <%= form.label :prioridade %>
        <%= form.select("prioridade",
                   options_for_select([["Muito Alta", 1],["Alta", 2], ["Normal", 3], ["Baixa", 4], ["Muito Baixa", 5]],
                                      @grupo_evento.prioridade), {include_blank: false}, {class: "form-control"})%>
      </div>

      <div class="actions">
        <%= form.submit "Adicionar Grupo", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>