<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @grupo_evento.nome %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @grupo_evento.descricao %>
</p>

<p>
  <strong>Prioridade:</strong>
  <%= @grupo_evento.prioridade %>
</p>

<p>
  <strong>User:</strong>
  <%= @grupo_evento.user_id %>
</p>

<%= link_to 'Edit', edit_grupo_evento_path(@grupo_evento) %> |
<%= link_to 'Back', grupo_eventos_path %>
