<p id="notice"><%= notice %></p>

<p>
  <strong>
    <%= @grupo_evento.nome %>
  </strong>
</p>

<p>
    <%= @grupo_evento.descricao %>
</p>

<p>
  <strong>Prioridade:</strong>
  <%= get_priority(@grupo_evento.prioridade) %>
</p>
<hr>
<% for event in @eventos_of_group%>

  <p>
    <strong>Grupo evento:</strong>
    <%= event.grupo_evento.nome %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= event.descricao %>
  </p>

  <p>
    <strong>Dia:</strong>
    <%= event.dia %>
  </p>

  <p>
    <%if !event.horario.nil? %>
    <strong>Horario:</strong>
    <%= event.horario.strftime("%I:%M%p") %>
    <% end %>
  </p>

  <p>
    <%if !event.prioridade.nil? %>
    <strong>Prioridade:</strong>
    <%= get_priority(event.prioridade) %>
    <% end %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= get_estado(event.estado) %>
  </p>

  <%= link_to 'Show', event %>
  <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<hr>
<%= link_to 'Edit', edit_grupo_evento_path(@grupo_evento) %> |
<%= link_to 'Back', :back %>

