<h1>Minha agenda</h1>
<% if user_signed_in? %>
  <ul>
    <li><%= current_user.email %></li>
    <li><%= link_to "Sair", destroy_user_session_path, method: :delete%></li>
  </ul>
  <ul>
    <li><%= link_to "Grupo de Eventos", grupo_eventos_path %></li>
    <li><%= link_to "Evento", eventos_path %></li>
  </ul>

  <ul class="user-profiles-list-basic">
  <% for event in @events_day%>



      <li>
        <h3>
          <strong>
            <%= event.grupo_evento.nome %>
          </strong>
        </h3>

        <p>
          <h4>
            <%= event.descricao %>
          </h4>
          <span>
          <%= event.dia %>
            <%= event.horario.strftime("%I:%M%p") %>
          </span>
        </p>
        <p>
          <%= link_to 'Show', event %>
          <%= link_to 'Concluir','evento/concluir/'+get_id(event) %>
        </p>
        <a class="delete" href=""><i class="fa fa-close"></i></a>

      </li>



  <% end %>
  </ul>
<% else %>
  <ul>
    <li><%= link_to "Cadastro", new_user_registration_path %></li>
    <li><%= link_to "Logar", new_user_session_path %></li>
  </ul>
<% end %>
