
<% if user_signed_in? %>

  <p id="notice"><%= notice %></p>
  <ul>
    <hr>
    <%= link_to "Grupo de Eventos", grupo_eventos_path, class: "btn btn-primary"  %>
    <%= link_to "Eventos", eventos_path, class: "btn btn-primary" %>
    <hr>
  </ul>

  <ul class="user-profiles-list-basic">
  <% for event in @events_day%>



      <li>
        <h3>
          <strong>
            <%= event.grupo_evento.nome %>
          </strong>
        </h3>

        <p>

        <h4>
          <%= event.descricao %>
        </h4>

        <%if !event.horario.nil? %>
          <span>

          <%= event.dia %>
            <%= event.horario.strftime("%I:%M%p") %>
          </span>
        <% end %>
        </p>
        <p>
          <%= link_to 'Mostrar', event, class: "btn btn-primary" %>
          <%= link_to 'Concluir','evento/concluir/'+get_id(event), class: "btn btn-success" %>
        </p>
        <a class="delete" href=""><i class="fa fa-close"></i></a>

      </li>



  <% end %>
  </ul>
<% else %>
  <ul>
    <li><%= link_to "Cadastro", new_user_registration_path %></li>
    <li><%= link_to "Logar", new_user_session_path %></li>
  </ul>


<% end %>
