<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= form_with(model: evento, local: true) do |form| %>
      <% if evento.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(evento.errors.count, "error") %> prohibited this evento from being saved:</h2>

          <ul>
          <% evento.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>


      <div class="form-group row">
        <label for="example-date-input" class="col-2 col-form-label">Data</label>
        <div class="col-10">
          <input class="form-control" type="date" value=<%= :dia%> id="evento_dia" name="evento[dia]">
        </div>
      </div>

      <div class="form-group row">
        <label for="example-time-input" class="col-2 col-form-label">Horário</label>
        <div class="col-10">
          <input class="form-control" type="time" value=hora id="evento_horario" name="evento[horario]">
        </div>
      </div>


      <div class="form-group">
        <%= form.label 'Descrição' %>
        <textarea id="evento_descricao" value="& :descricao" name="evento[descricao]" rows="4" cols="55" class="form-control">
        </textarea>
      </div>

      <div class="form-group">
        <%= form.label :prioridade %>
        <%= form.select("prioridade",
                   options_for_select([["Muito Alta", 1],["Alta", 2], ["Normal", 3], ["Baixa", 4], ["Muito Baixa", 5]],
                                      @evento.prioridade), {include_blank: false}, {class: "form-control"})%>
      </div>

      <div class="form-group">
        <%= form.label :estado %>
        <%= form.select("estado",
                        options_for_select([["Em Andamento", 'false'],["Concluído", 'true']],
                                           @evento.estado), {include_blank: false}, {class: "form-control"})%>
      </div>

      <div class="form-group">
        <%= form.label 'Grupo de Eventos' %>
        <%= form.collection_select :grupo_evento_id, @grupo_eventos, :id, :nome, {include_blank: false}, {class: "form-control"} %>
      </div>

      <div class="form-group">
        <%= form.submit "Adicionar Evento", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
