<%= form_with(model: evento, local: true) do |form| %>
  <% if evento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(evento.errors.count, "error") %> prohibited this evento from being saved:</h2>

      <ul>
      <% evento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :dia %>
    <%= form.date_select :dia %>
  </div>

  <div class="field">
    <%= form.label :horario %>
    <%= form.time_select :horario %>
  </div>

  <div class="field">
    <%= form.label :descricao %>
    <%= form.text_field :descricao %>
  </div>

  <div class="field">
    <%= form.label :prioridade %>
    <%= form.select("prioridade",
               options_for_select([["Muito Alta", 1],["Alta", 2], ["Normal", 3], ["Baixa", 4], ["Muito Baixa", 5]],
                                  @evento.prioridade), {include_blank: true})%>
  </div>

  <div class="field">
    <%= form.label :estado %>
    <%= form.select("estado",
                    options_for_select([["Em Andamento", 'false'],["Concluído", 'true']],
                                       @evento.estado), )%>
  </div>

  <div class="field">
    <%= form.label "Grupo de Eventos" %>
    <%= form.collection_select(:grupo_evento_id, @grupo_eventos, :id, :nome, include_blank: false) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
