<p id="notice"><%= notice %></p>

<h1>Eventos</h1>

<table>
  <thead>
    <tr>
      <th>Dia</th>
      <th>Horario</th>
      <th>Descricao</th>
      <th>Prioridade</th>
      <th>Estado</th>
      <th>Grupo evento</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @eventos.each do |evento| %>
      <tr>
        <td><%= evento.dia %></td>
        <td><%= evento.horario %></td>
        <td><%= evento.descricao %></td>
        <td><%= evento.prioridade %></td>
        <td><%= evento.estado %></td>
        <td><%= evento.grupo_evento_id %></td>
        <td><%= link_to 'Show', evento %></td>
        <td><%= link_to 'Edit', edit_evento_path(evento) %></td>
        <td><%= link_to 'Destroy', evento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Evento', new_evento_path %>
