<p id="notice"><%= notice %></p>

<h1>Eventos</h1>
<%= link_to 'Novo Evento', new_evento_path, class: "btn btn-primary" %>
<hr>
<table class="table table-striped table-hover">
  <thead class="thead-dark">
    <tr>
      <th>Data</th>
      <th>Horário</th>
      <th>Descrição</th>
      <th>Prioridade</th>
      <th>Estado</th>
      <th>Grupo</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @eventos.each do |evento| %>
      <tr>
        <td><%= evento.dia %></td>
        <%if !evento.horario.nil? %>
          <td><%= evento.horario.strftime("%I:%M%p") %></td>
        <% else %>
          <td> </td>
        <% end %>
        <td><%= evento.descricao %></td>
        <td><%= get_priority(evento.prioridade) %></td>
        <td><%= get_estado(evento.estado) %></td>
        <td><%= evento.grupo_evento.nome %></td>
        <td><%= link_to 'Mostrar', evento, class: "btn btn-primary" %></td>
        <td><%= link_to 'Editar', edit_evento_path(evento), class: "btn btn-info" %></td>
        <td><%= link_to 'Apagar', evento, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-secondary" %></td>
        <td><%= link_to 'Concluir','evento/concluir/'+get_id(evento),class: "btn btn-success"  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


