<p id="notice"><%= notice %></p>

<p>
  <strong>Grupo evento:</strong>
  <%= @evento.grupo_evento.nome %>
</p>

<p>
  <strong>Dia:</strong>
  <%= @evento.dia %>
</p>

<p>
  <strong>Horario:</strong>
  <%= @evento.horario.strftime("%I:%M%p") %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @evento.descricao %>
</p>

<p>
  <strong>Prioridade:</strong>
  <%= get_priority(@evento.prioridade) %>
</p>

<p>
  <strong>Estado:</strong>
  <%= get_estado(@evento.estado) %>
</p>


<%= link_to 'Edit', edit_evento_path(@evento) %> |
<%= link_to 'Back', :back %>

